<div class="spinner-container">
    <div ng-class="$ctrl.class">
        <input ng-model="$ctrl.quantity" onpaste="return false;" oncontextmenu="return false;" style="ime-mode:disabled;"  ng-keydown="$ctrl.checkValid($event)" ng-keyup="$ctrl.checkValue($event)" ng-disabled="$ctrl.disable" type="text" class="form-control spinbox-input n-inputfield"/>
        <div class="spinbox-buttons btn-group btn-group-vertical">
            <button ng-click="$ctrl.increase($event)" type="button" class="btn btn-default spinbox-up btn-xs" ng-disabled="$ctrl.disable" role="button" aria-label="increase">
                <span class="icon icon-arrow-up"></span>
            </button>
            <button ng-click="$ctrl.decrease($event)" type="button" class="btn btn-default spinbox-down btn-xs"  ng-disabled="$ctrl.disable" role="button" aria-label="decrease">
                <span class="icon icon-arrow"></span>
            </button>
        </div>
    </div>
</div>