<div class="n-search"
     ng-class="{
     'n-search-clearable':($ctrl.type=='clear'||$ctrl.type =='clearDropDown'),
     'n-search-action':($ctrl.type=='searchBtnDropDown'||$ctrl.type =='searchBtn'),
     'n-search-disable':$ctrl.disable
     , 'open':($ctrl.isOpen )
     }"
>
    <a ng-if="!$ctrl.disable && ($ctrl.type!='dropDown' && $ctrl.type!='clearDropDown'&& $ctrl.type!='searchBtnDropDown')"  class="n-search-icon" >
        <span class="icon icon-search" ></span>
    </a>
    <a ng-if="$ctrl.disable && ($ctrl.type!='dropDown' && $ctrl.type!='clearDropDown'&& $ctrl.type!='searchBtnDropDown')"  class="n-search-icon" >
        <span class="icon icon-search" ></span>
    </a>

    <a  ng-if="!$ctrl.disable && ($ctrl.type=='dropDown' || $ctrl.type=='clearDropDown'|| $ctrl.type=='searchBtnDropDown')" tabindex="0" ng-click="$ctrl.search($event)" ng-keydown="$ctrl.handelKeyboard($event)"  class="n-search-icon dropdown-toggle" >
        <span class="icon icon-search" ></span>
        <span class="icon icon-arrow"></span>
    </a>

    <a  ng-if="$ctrl.disable && ($ctrl.type=='dropDown' || $ctrl.type=='clearDropDown'|| $ctrl.type=='searchBtnDropDown')" tabindex="-1"   class="n-search-icon dropdown-toggle" disabled >
        <span class="icon icon-search" ></span>
        <span class="icon icon-arrow"></span>
    </a>

    <input ng-if="!$ctrl.disable"  ng-keydown="$ctrl.onTextInput($event)"  ng-model="$ctrl.textValue"  class="n-inputfield n-search-input" placeholder="{{$ctrl.placeholder}}">

    <input ng-if="$ctrl.disable" tabindex="-1" disabled ng-model="$ctrl.textValue" class="n-inputfield n-search-input" placeholder="{{$ctrl.placeholder}}">

    <ul ng-if="$ctrl.type=='dropDown' || $ctrl.type=='clearDropDown' || $ctrl.type=='searchBtnDropDown'" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li ng-if="!$ctrl.disable" ng-click="$ctrl.onItemSelectedCallback()($event,item,$ctrl.textValue)" ng-repeat="item in $ctrl.dropDownData" role="presentation"><a tabindex="{{$ctrl.disable?-1:0}}" ng-keydown="$ctrl.updAndDown($event)"  role="menuitem" href="#"><span value="{{item.value}}">{{item.text}}</span></a></li>
    </ul>

    <a ng-if="( $ctrl.type == 'clear' || $ctrl.type=='clearDropDown' ) &&  !$ctrl.disable" ng-click="$ctrl.clear($event)"
       ng-keydown="$ctrl.clearOnKeyDown($event)"
       class="n-search-control-icon" href="#" tabindex="0" >
        <span class="icon icon-close" ></span>
    </a>
    <a
        ng-if=" ( $ctrl.type == 'clear' || $ctrl.type=='clearDropDown' ) && $ctrl.disable"
        tabindex="-1" disabled
        class="n-search-control-icon" href="javascript:void(0)" >
        <span class="icon icon-close" ></span>
    </a>

    <button ng-if="($ctrl.type == 'searchBtn' || $ctrl.type == 'searchBtnDropDown') && !$ctrl.disable " class="btn n-search-button"
    ng-click="$ctrl.onSubmitCallback()($event,$ctrl.textValue)"
    >{{$ctrl.searchBtnText}}</button>

    <button ng-if="($ctrl.type == 'searchBtn'|| $ctrl.type == 'searchBtnDropDown') && $ctrl.disable" class="btn n-search-button" disabled >{{$ctrl.searchBtnText}}</button>
</div>