<div class="n-table-total has-filter">
    <span class="icon icon-filter"></span>
    <span class="n-table-filter-result">{{'results'|translate}}: <span>{{totalItemCount}}</span></span>
    <span>{{'total'|translate}}: <span>{{totalRecords}}</span></span>
</div>
<div class="n-table-pagenum">
    <button class="btn btn-icon" ng-click="firstPage(currentPage)">
        <span class="icon icon-first"></span>
    </button>
    <button class="btn btn-icon" ng-click="previousPage(currentPage)">
        <span class="icon icon-back"></span>
    </button>
    <span>{{'page'|translate}}</span>
    <input type="text" class="n-inputfield n-inputfield-small" ng-model="currentPage" ng-change="goToPage(currentPage)"/>
    <span>/ {{numPages}}</span>
    <button class="btn btn-icon" ng-click="nextPage(currentPage)">
        <span class="icon icon-next"></span>
    </button>
    <button class="btn btn-icon" ng-click="lastPage(currentPage)">
        <span class="icon icon-last"></span>
    </button>
</div>
<div class="n-table-pageselect">
    <div class="n-table-pagecombox">
        <div class="input-group input-append dropdown combobox n-combobutton-small n-page-combox" data-initialize="combobox" name="itemPerPageDiv">
            <input type="text" ng-model="wfItemsByPage" class="form-control n-inputfield n-inputfield-small" value="{{wfItemsByPage}}" style="text-align: center;">

            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" style="width: 70px;">
                    <li data-value="5" ng-class="{'selected': wfItemsByPage === 5}"><a href="#" ng-click="selectDisplayItemsByPage(5)" ><span>5</span></a></li>
                    <li data-value="10" ng-class="{'selected': wfItemsByPage === 10}"><a href="#" ng-click="selectDisplayItemsByPage(10)" ><span>10</span></a></li>
                    <li data-value="20" ng-class="{'selected': wfItemsByPage === 20}"><a href="#" ng-click="selectDisplayItemsByPage(20)" ><span>20</span></a></li>
                    <li data-value="30" ng-class="{'selected': wfItemsByPage === 30}"><a href="#" ng-click="selectDisplayItemsByPage(30)"><span>30</span></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="n-table-suffix">
        <span>{{'itemsPerpage'|translate}}</span>
    </div>
</div>

