<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="../wulfdist/css/wulf.basic.min.css" rel="stylesheet"/>
    <link href="../wulfdist/css/wulf.table-normal.min.css" rel="stylesheet"/>
    <link href="../wulfdist/css/wulf.dropdowns.min.css" rel="stylesheet"/>
    <link href="../wulfdist/css/wulf.inputfield.min.css" rel="stylesheet"/>
    <link href="../wulfdist/css/wulf.links.min.css" rel="stylesheet"/>
    <link href="../assets/css/demo.css" rel="stylesheet"/>
</head>
<body class="demo-body-content">
<h1 class="component-header" id="nokia_table_error">Table with errors<a
        href="../demo-dev-react.html">
    <img class="react-logo" align="right" alt="react usage" height="30" width="30" src="../assets/images/react-logo.svg"></a></h1>
<hr>

<div id="table-demo-container1" class="col-md-12">
    <p>
        Supports
        <a href="https://sharenet-ims.inside.nokiasiemensnetworks.com/Download/D521667724">OT3 Specification</a>
        (aug-2014) page 153.
    </p>

    <br>

    <h4>Scroll table with error header row</h4>

        <div class="demo-table-min-size">
            <table class="n-table n-table-standard n-table-striped n-table-cell-hover n-table-error" id="TA-tableError-table">
                <thead>
                    <tr>
                        <th class="n-sortable" id="TA-tableError-text">With icon
                            <span class="icon icon-arrow"></span>
                        </th>
                        <th class="n-sortable">With text
                            <span class="icon icon-arrow"></span>
                        </th>
                        <th>With editable cell</th>
                        <th>Checkbox cell</th>
                        <th>Dropdown cell</th>
                        <th class="text-right n-sortable">With error/alert
                            <span class="icon icon-arrow"></span></th>
                        <th class="text-right n-sortable">With number<span class="icon icon-arrow"></span></th>
                    </tr>
                    <tr id="TA-tableError-error">
                        <th colspan="7">
                            <span><span class="icon icon-error"></span>There are 6 errors in this table.</span>
                            <a href="javascript:void(0);"><span class="icon icon-close-rounded"></span></a>
                        </th>
                    </tr>
                </thead>
                <tbody class="n-table-scrollbar">
                    <tr>
                        <td class="text-center" id="TA-tableError-scrollbarIcon">
                            <div class="n-cell-icon-container"><div class="n-cell-icon"><span class="icon icon-fault-critical"></span></div></div>
                        </td>
                        <td>Critical fault</td>
                        <td class="n-cell-control"><input type="text" class="n-inputfield" value="10.39.190.96"></td>
                        <td>
                            <div class="checkbox checkbox-small">
                                <input type="checkbox" id="cb1" checked/>
                                <label for="cb1">Option1</label>
                            </div>
                        </td>
                        <td class="n-cell-control">
                            <div class="btn-group selectlist selectlist-small" data-resize="auto" data-initialize="selectlist" data-position="fixed"
                                 id="mySelectlist11" >
                                <button class="btn btn-default dropdown-toggle" id="TA_error_table1_dropdown1" data-toggle="dropdown" type="button" aria-expanded="false">
                                    <span class="selected-label"><span>Three1</span></span>
                                    <span class="selected-caret" ><span class="caret"></span></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li data-value="1"><a href="javascript:void(0);"><span>One</span></a></li>
                                    <li data-value="2"><a href="javascript:void(0);"><span>Two</span></a></li>
                                    <li data-value="3"><a href="javascript:void(0);"><span>Three</span></a></li>
                                    <li data-value="4"><a href="javascript:void(0);"><span>Five Five Five</span></a></li>
                                </ul>
                                <!--suppress HtmlFormInputWithoutLabel -->
                                <input class="hidden hidden-field" name="mySelectlist3" readonly="readonly" aria-hidden="true"
                                       type="text">

                    </div>
                <td class="n-cell-error text-right">2010</td>
                <td class="text-right">910</td>
            </tr>
            <tr>
                <td class="text-center">
                    <div class="n-cell-icon-container"><div class="n-cell-icon"><span class="icon icon-fault-major"></span></div></div>
                </td>
                <td id="TA-tableError-scrollbarFault">Major fault</td>
                <td class="n-cell-control"><input type="text" class="n-inputfield" value="10.39.190.96"></td>
                <td>
                    <div class="checkbox checkbox-small">
                        <input type="checkbox" id="cb2" disabled/>
                        <label for="cb2">Option2</label>
                    </div>
                </td>
                <td class="n-cell-control">
                    <div class="btn-group selectlist selectlist-small" data-resize="auto" data-initialize="selectlist"
                         data-position="fixed"
                         id="mySelectlist12">
                        <button class="btn btn-default dropdown-toggle" id="TA_error_table1_dropdown2" data-toggle="dropdown" type="button"
                                aria-expanded="false">
                            <span class="selected-label"><span>Three1</span></span>
                            <span class="selected-caret"><span class="caret"></span></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li data-value="1"><a href="javascript:void(0);"><span>One</span></a></li>
                            <li data-value="2"><a href="javascript:void(0);"><span>Two</span></a></li>
                            <li data-value="3"><a href="javascript:void(0);"><span>Three</span></a></li>
                            <li data-value="4"><a href="javascript:void(0);"><span>Five Five Five</span></a></li>
                        </ul>
                        <!--suppress HtmlFormInputWithoutLabel -->
                        <input class="hidden hidden-field" name="mySelectlist3" readonly="readonly" aria-hidden="true"
                               type="text">

                    </div>
                <td class="n-cell-error text-right">2010</td>
                <td class="text-right">910</td>
            </tr>
            <tr>
                <td class="text-center">
                    <div class="n-cell-icon-container"><div class="n-cell-icon"><span class="icon icon-fault-minor"></span></div></div>
                </td>
                <td>Minor fault</td>
                <td class="n-cell-control" id="TA-tableError-scrollbarInput"><input type="text" class="n-inputfield" value="10.39.190.96"></td>
                <td>
                    <div class="checkbox checkbox-small">
                        <input type="checkbox" id="cb3"/>
                        <label for="cb3">Option3</label>
                    </div>
                </td>
                <td class="n-cell-control">
                    <div class="btn-group selectlist selectlist-small" data-resize="auto" data-initialize="selectlist"
                         data-position="fixed"
                         id="mySelectlist13">
                        <button class="btn btn-default dropdown-toggle" id="TA_error_table1_dropdown3" data-toggle="dropdown" type="button"
                                aria-expanded="false">
                            <span class="selected-label"><span>Three1</span></span>
                            <span class="selected-caret"><span class="caret"></span></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li data-value="1"><a href="javascript:void(0);"><span>One</span></a></li>
                            <li data-value="2"><a href="javascript:void(0);"><span>Two</span></a></li>
                            <li data-value="3"><a href="javascript:void(0);"><span>Three</span></a></li>
                            <li data-value="4"><a href="javascript:void(0);"><span>Five Five Five</span></a></li>
                        </ul>
                        <!--suppress HtmlFormInputWithoutLabel -->
                        <input class="hidden hidden-field" name="mySelectlist3" readonly="readonly" aria-hidden="true"
                               type="text">

                    </div>
                <td class="n-cell-error text-right">2010</td>
                <td class="text-right">910</td>
            </tr>
            <tr>
                <td class="text-center">
                    <div class="n-cell-icon-container"><div class="n-cell-icon"><span class="icon icon-fault-warning"></span></div></div>
                </td>
                <td>Warning</td>
                <td class="n-cell-control"><input type="text" class="n-inputfield" value="10.39.190.96"></td>
                <td id="TA-tableError-scrollbarCheckbox">
                    <div class="checkbox checkbox-small">
                        <input type="checkbox" id="cb4" checked disabled/>
                        <label for="cb4">Option4</label>
                    </div>
                </td>
                <td class="n-cell-control">
                    <div class="btn-group selectlist selectlist-small" data-resize="auto" data-initialize="selectlist"
                         data-position="fixed"
                         id="mySelectlist14">
                        <button class="btn btn-default dropdown-toggle" id="TA_error_table1_dropdown4" data-toggle="dropdown" type="button"
                                aria-expanded="false">
                            <span class="selected-label"><span>Three1</span></span>
                            <span class="selected-caret"><span class="caret"></span></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li data-value="1"><a href="javascript:void(0);"><span>One</span></a></li>
                            <li data-value="2"><a href="javascript:void(0);"><span>Two</span></a></li>
                            <li data-value="3"><a href="javascript:void(0);"><span>Three</span></a></li>
                            <li data-value="4"><a href="javascript:void(0);"><span>Five Five Five</span></a></li>
                        </ul>
                        <!--suppress HtmlFormInputWithoutLabel -->
                        <input class="hidden hidden-field" name="mySelectlist3" readonly="readonly" aria-hidden="true"
                               type="text">

                    </div>
                <td class="n-cell-error text-right">2010</td>
                <td class="text-right">910</td>
            </tr>
            <tr>
                <td class="text-center">
                    <div class="n-cell-icon-container"><div class="n-cell-icon"><span class="icon icon-fault-cleared"></span></div></div>
                </td>
                <td>Fault cleared</td>
                <td class="n-cell-control"><input type="text" class="n-inputfield" value="10.39.190.96"></td>
                <td>
                    <div class="checkbox checkbox-small">
                        <input type="checkbox" id="cb5"/>
                        <label for="cb5">Option5</label>
                    </div>
                </td>
                <td class="n-cell-control" id="TA-tableError-scrollbarDropdown">
                    <div class="btn-group selectlist selectlist-small" data-resize="auto" data-initialize="selectlist"
                         data-position="fixed"
                         id="mySelectlist15">
                        <button class="btn btn-default dropdown-toggle" id="TA_error_table1_dropdown5" data-toggle="dropdown" type="button"
                                aria-expanded="false">
                            <span class="selected-label"><span>Three1</span></span>
                            <span class="selected-caret"><span class="caret"></span></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li data-value="1"><a href="javascript:void(0);"><span>One</span></a></li>
                            <li data-value="2"><a href="javascript:void(0);"><span>Two</span></a></li>
                            <li data-value="3"><a href="javascript:void(0);"><span>Three</span></a></li>
                            <li data-value="4"><a href="javascript:void(0);"><span>Five Five Five</span></a></li>
                        </ul>
                        <!--suppress HtmlFormInputWithoutLabel -->
                        <input class="hidden hidden-field" name="mySelectlist3" readonly="readonly" aria-hidden="true"
                               type="text">

                            </div>
                        <td class="n-cell-error text-right">2010</td>
                        <td class="text-right">910</td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <div class="n-cell-icon-container"><div class="n-cell-icon"><span class="icon icon-fault-unknown"></span></div></div>
                        </td>
                        <td>Unknown situation</td>
                        <td class="n-cell-control"><input type="text" class="n-inputfield" value="10.39.190.96"></td>
                        <td>
                            <div class="checkbox checkbox-small">
                                <input type="checkbox" id="cb6"/>
                                <label for="cb6">Option6</label>
                            </div>
                        </td>
                        <td class="n-cell-control">
                            <div class="btn-group selectlist selectlist-small" data-resize="auto" data-initialize="selectlist" data-position="fixed"
                                 id="mySelectlist16" >
                                <button class="btn btn-default dropdown-toggle" id="TA_error_table1_dropdown6" data-toggle="dropdown" type="button" aria-expanded="false">
                                    <span class="selected-label"><span>Three1</span></span>
                                    <span class="selected-caret" ><span class="caret"></span></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu" id="TA-tableError-scrollbarDropdownmenu">
                                    <li data-value="1"><a href="javascript:void(0);"><span>One</span></a></li>
                                    <li data-value="2"><a href="javascript:void(0);"><span>Two</span></a></li>
                                    <li data-value="3"><a href="javascript:void(0);"><span>Three</span></a></li>
                                    <li data-value="4"><a href="javascript:void(0);"><span>Five Five Five</span></a></li>
                                </ul>
                                <!--suppress HtmlFormInputWithoutLabel -->
                                <input class="hidden hidden-field" name="mySelectlist3" readonly="readonly" aria-hidden="true"
                                       type="text">

                    </div>
                <td id="TA-table-cell-error1" class="n-cell-error text-right">2010</td>
                <td id="TA-table-cell-number2" class="text-right">910</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-12">
        <p>JS &amp; CSS dependency:</p>
        <pre>For table with errors components,you can use following css import code:
&lt;link href="../wulfdist/css/wulf.basic.min.css" rel="stylesheet"/&gt;
&lt;link href="../wulfdist/css/wulf.table-normal.min.css" rel="stylesheet"&gt;
&lt;link href="../wulfdist/css/wulf.dropdowns.min.css" rel="stylesheet"&gt;
&lt;link href="../wulfdist/css/wulf.inputfield.min.css" rel="stylesheet"&gt;
        </pre>
            <pre>
<code>
    &lt;!-- Scroll table with error header row --&gt;
    &lt;table class="n-table n-table-standard n-table-striped n-table-cell-hover <span class="demo-highlight-color">n-table-error</span>"&gt;
    &lt;thead&gt;
    &lt;tr&gt;
    &lt;th class="n-sortable"&gt;With icon
    &lt;span class="icon icon-arrow"&gt;&lt;/span&gt;
    &lt;/th&gt;
    &lt;th class="n-sortable"&gt;With text
    &lt;span class="icon icon-arrow"&gt;&lt;/span&gt;
    &lt;/th&gt;
    &lt;th&gt;With editable cell&lt;/th&gt;
    &lt;th&gt;Checkbox cell&lt;/th&gt;
    &lt;th&gt;Dropdown cell&lt;/th&gt;
    &lt;th class="text-right n-sortable"&gt;With error/alert
    &lt;span class="icon icon-arrow"&gt;&lt;/span&gt;&lt;/th&gt;
    &lt;th class="text-right n-sortable"&gt;With number&lt;span class="icon icon-arrow"&gt;&lt;/span&gt;&lt;/th&gt;
    &lt;/tr&gt;
            <span class="demo-highlight-color">
            &lt;tr&gt;
                &lt;th colspan="7"&gt;</span> &lt;!-- The colspan should be the number of the column in table
    --&gt;<span class="demo-highlight-color">
                    &lt;span&gt;&lt;span class="icon icon-error"&gt;&lt;/span&gt;There are 6 errors in this table.&lt;/span&gt;
                    &lt;span class="icon icon-close-rounded"&gt;&lt;/span&gt;
                &lt;/th&gt;
            &lt;/tr&gt;
            </span>
    &lt;/thead&gt;
    &lt;tbody&gt;...&lt;tbody&gt;
    &lt;/table&gt;
</code>
            </pre>
    </div>

    <h4>Scroll table with error indicator in table header</h4>

    <div class="demo-table-min-size">
        <table class="n-table n-table-standard n-table-striped n-table-cell-hover"  id="TA-tableError-min-size">
            <thead>
            <tr>
                <th class="n-sortable" id="TA-tableError-min-size-icon">With icon
                    <span class="icon icon-arrow"></span>
                </th>
                <th class="n-sortable">With text
                    <span class="icon icon-arrow"></span>
                </th>
                <th id="TA-tableError-min-size-number">With editable cell<span class="icon text-center n-error-indicator">12</span></th>
                <th>Checkbox cell</th>
                <th>Dropdown cell<span class="icon text-center n-error-indicator">100</span></th>
                <th class="text-right n-sortable" id="TA-tableError-min-size-number1">
                    With error/alert
                    <span class="icon icon-arrow"></span>
                    <span class="icon text-center n-error-indicator">6</span>
                </th>
                <th class="text-right n-sortable">With number<span class="icon icon-arrow"></span></th>
            </tr>
            </thead>
            <tbody class="n-table-scrollbar">
            <tr>
                <td class="text-center" id="TA-tableErroe-min-size-icon">
                    <div class="n-cell-icon-container"><div class="n-cell-icon"><span class="icon icon-fault-critical"></span></div></div>
                </td>
                <td>Critical fault</td>
                <td class="n-cell-control"><input type="text" class="n-inputfield" value="10.39.190.96"></td>
                <td>
                    <div class="checkbox checkbox-small">
                        <input type="checkbox" id="cb21" checked/>
                        <label for="cb21">Option1</label>
                    </div>
                </td>
                <td class="n-cell-control">
                    <div class="btn-group selectlist selectlist-small" data-resize="auto" data-initialize="selectlist"
                         data-position="fixed"
                         id="mySelectlist21">
                        <button class="btn btn-default dropdown-toggle" id="TA_error_table2_dropdown1" data-toggle="dropdown" type="button"
                                aria-expanded="false">
                            <span class="selected-label"><span>Three1</span></span>
                            <span class="selected-caret"><span class="caret"></span></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li data-value="1"><a href="javascript:void(0);"><span>One</span></a></li>
                            <li data-value="2"><a href="javascript:void(0);"><span>Two</span></a></li>
                            <li data-value="3"><a href="javascript:void(0);"><span>Three</span></a></li>
                            <li data-value="4"><a href="javascript:void(0);"><span>Five Five Five</span></a></li>
                        </ul>
                        <!--suppress HtmlFormInputWithoutLabel -->
                        <input class="hidden hidden-field" name="mySelectlist3" readonly="readonly" aria-hidden="true"
                               type="text">

                        </div>
                    <td class="n-cell-error text-right">2010</td>
                    <td class="text-right">910</td>
                </tr>
                <tr>
                    <td class="text-center">
                        <div class="n-cell-icon-container"><div class="n-cell-icon"><span class="icon icon-fault-major"></span></div></div>
                    </td>
                    <td>Major fault</td>
                    <td class="n-cell-control" id="TA-tableErroe-min-size-input"><input type="text" class="n-inputfield" value="10.39.190.96"></td>
                    <td>
                        <div class="checkbox checkbox-small">
                            <input type="checkbox" id="cb22" disabled/>
                            <label for="cb22">Option2</label>
                        </div>
                    </td>
                    <td class="n-cell-control">
                        <div class="btn-group selectlist selectlist-small" data-resize="auto" data-initialize="selectlist" data-position="fixed"
                             id="mySelectlist22" >
                            <button class="btn btn-default dropdown-toggle" id="TA_error_table2_dropdown2" data-toggle="dropdown" type="button" aria-expanded="false">
                                <span class="selected-label"><span>Three1</span></span>
                                <span class="selected-caret" ><span class="caret"></span></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li data-value="1"><a href="javascript:void(0);"><span>One</span></a></li>
                                <li data-value="2"><a href="javascript:void(0);"><span>Two</span></a></li>
                                <li data-value="3"><a href="javascript:void(0);"><span>Three</span></a></li>
                                <li data-value="4"><a href="javascript:void(0);"><span>Five Five Five</span></a></li>
                            </ul>
                            <!--suppress HtmlFormInputWithoutLabel -->
                            <input class="hidden hidden-field" name="mySelectlist3" readonly="readonly" aria-hidden="true"
                                   type="text">

                        </div>
                    <td class="n-cell-error text-right">2010</td>
                    <td class="text-right">910</td>
                </tr>
                <tr>
                    <td class="text-center">
                        <div class="n-cell-icon-container"><div class="n-cell-icon"><span class="icon icon-fault-minor"></span></div></div>
                    </td>
                    <td>Minor fault</td>
                    <td class="n-cell-control"><input type="text" class="n-inputfield" value="10.39.190.96"></td>
                    <td id="TA-tableErroe-min-size-option">
                        <div class="checkbox checkbox-small">
                            <input type="checkbox" id="cb23"/>
                            <label for="cb23">Option3</label>
                        </div>
                    </td>
                    <td class="n-cell-control">
                        <div class="btn-group selectlist selectlist-small" data-resize="auto" data-initialize="selectlist" data-position="fixed"
                             id="mySelectlist23" >
                            <button class="btn btn-default dropdown-toggle" id="TA_error_table2_dropdown3" data-toggle="dropdown" type="button" aria-expanded="false">
                                <span class="selected-label"><span>Three1</span></span>
                                <span class="selected-caret" ><span class="caret"></span></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li data-value="1"><a href="javascript:void(0);"><span>One</span></a></li>
                                <li data-value="2"><a href="javascript:void(0);"><span>Two</span></a></li>
                                <li data-value="3"><a href="javascript:void(0);"><span>Three</span></a></li>
                                <li data-value="4"><a href="javascript:void(0);"><span>Five Five Five</span></a></li>
                            </ul>
                            <!--suppress HtmlFormInputWithoutLabel -->
                            <input class="hidden hidden-field" name="mySelectlist3" readonly="readonly" aria-hidden="true"
                                   type="text">

                        </div>
                    <td class="n-cell-error text-right">2010</td>
                    <td class="text-right">910</td>
                </tr>
                <tr>
                    <td class="text-center">
                        <div class="n-cell-icon-container"><div class="n-cell-icon"><span class="icon icon-fault-warning"></span></div></div>
                    </td>
                    <td>Warning</td>
                    <td class="n-cell-control"><input type="text" class="n-inputfield" value="10.39.190.96"></td>
                    <td>
                        <div class="checkbox checkbox-small">
                            <input type="checkbox" id="cb24" checked disabled/>
                            <label for="cb24">Option4</label>
                        </div>
                    </td>
                    <td class="n-cell-control" id="TA-tableErroe-min-size-dropdown">
                        <div class="btn-group selectlist selectlist-small" data-resize="auto" data-initialize="selectlist" data-position="fixed"
                             id="mySelectlist24" >
                            <button class="btn btn-default dropdown-toggle" id="TA_error_table2_dropdown4" data-toggle="dropdown" type="button" aria-expanded="false">
                                <span class="selected-label"><span>Three1</span></span>
                                <span class="selected-caret" ><span class="caret"></span></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu" id="TA-tableErroe-min-size-dropdownMenu">
                                <li data-value="1"><a href="javascript:void(0);"><span>One</span></a></li>
                                <li data-value="2"><a href="javascript:void(0);"><span>Two</span></a></li>
                                <li data-value="3"><a href="javascript:void(0);"><span>Three</span></a></li>
                                <li data-value="4"><a href="javascript:void(0);"><span>Five Five Five</span></a></li>
                            </ul>
                            <!--suppress HtmlFormInputWithoutLabel -->
                            <input class="hidden hidden-field" name="mySelectlist3" readonly="readonly" aria-hidden="true"
                                   type="text">

                    </div>
                <td class="n-cell-error text-right">2010</td>
                <td class="text-right">910</td>
            </tr>
            <tr>
                <td class="text-center">
                    <div class="n-cell-icon-container"><div class="n-cell-icon"><span class="icon icon-fault-cleared"></span></div></div>
                </td>
                <td>Fault cleared</td>
                <td class="n-cell-control"><input type="text" class="n-inputfield" value="10.39.190.96"></td>
                <td>
                    <div class="checkbox checkbox-small">
                        <input type="checkbox" id="cb25"/>
                        <label for="cb25">Option5</label>
                    </div>
                </td>
                <td class="n-cell-control">
                    <div class="btn-group selectlist selectlist-small" data-resize="auto" data-initialize="selectlist"
                         data-position="fixed"
                         id="mySelectlist25">
                        <button class="btn btn-default dropdown-toggle" id="TA_error_table2_dropdown5" data-toggle="dropdown" type="button"
                                aria-expanded="false">
                            <span class="selected-label"><span>Three1</span></span>
                            <span class="selected-caret"><span class="caret"></span></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li data-value="1"><a href="javascript:void(0);"><span>One</span></a></li>
                            <li data-value="2"><a href="javascript:void(0);"><span>Two</span></a></li>
                            <li data-value="3"><a href="javascript:void(0);"><span>Three</span></a></li>
                            <li data-value="4"><a href="javascript:void(0);"><span>Five Five Five</span></a></li>
                        </ul>
                        <!--suppress HtmlFormInputWithoutLabel -->
                        <input class="hidden hidden-field" name="mySelectlist3" readonly="readonly" aria-hidden="true"
                               type="text">

                    </div>
                <td class="n-cell-error text-right" id="TA-tableErroe-min-size-number2">2010</td>
                <td class="text-right">910</td>
            </tr>
            <tr>
                <td class="text-center">
                    <div class="n-cell-icon-container"><div class="n-cell-icon"><span class="icon icon-fault-unknown"></span></div></div>
                </td>
                <td>Unknown situation</td>
                <td class="n-cell-control"><input type="text" class="n-inputfield" value="10.39.190.96"></td>
                <td>
                    <div class="checkbox checkbox-small">
                        <input type="checkbox" id="cb26"/>
                        <label for="cb26">Option6</label>
                    </div>
                </td>
                <td class="n-cell-control">
                    <div class="btn-group selectlist selectlist-small" data-resize="auto" data-initialize="selectlist"
                         data-position="fixed"
                         id="mySelectlist26">
                        <button class="btn btn-default dropdown-toggle" id="TA_error_table2_dropdown6" data-toggle="dropdown" type="button"
                                aria-expanded="false">
                            <span class="selected-label"><span>Three1</span></span>
                            <span class="selected-caret"><span class="caret"></span></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li data-value="1"><a href="javascript:void(0);"><span>One</span></a></li>
                            <li data-value="2"><a href="javascript:void(0);"><span>Two</span></a></li>
                            <li data-value="3"><a href="javascript:void(0);"><span>Three</span></a></li>
                            <li data-value="4"><a href="javascript:void(0);"><span>Five Five Five</span></a></li>
                        </ul>
                        <!--suppress HtmlFormInputWithoutLabel -->
                        <input class="hidden hidden-field" name="mySelectlist3" readonly="readonly" aria-hidden="true"
                               type="text">

                    </div>
                <td class="n-cell-error text-right">2010</td>
                <td class="text-right">910</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-12">
            <pre>
<code>
    &lt;!-- Scroll table with error header row --&gt;
    &lt;table class="n-table n-table-standard n-table-striped n-table-cell-hover"&gt;
    &lt;thead&gt;
    &lt;tr&gt;
    &lt;th class="n-sortable"&gt;With icon
    &lt;span class="icon icon-arrow"&gt;&lt;/span&gt;
    &lt;/th&gt;
    &lt;th class="n-sortable"&gt;With text
    &lt;span class="icon icon-arrow"&gt;&lt;/span&gt;
    &lt;/th&gt;
    &lt;th&gt;With editable cell<span class="demo-highlight-color">&lt;span class="icon text-center n-error-indicator"&gt;12&lt;/span&gt;</span>&lt;/th&gt;
    &lt;th&gt;Checkbox cell&lt;/th&gt;
    &lt;th&gt;Dropdown cell<span class="demo-highlight-color">&lt;span class="icon text-center n-error-indicator"&gt;100&lt;/span&gt;</span>&lt;/th&gt;
    &lt;th class="text-right n-sortable"&gt;With error/alert
    &lt;span class="icon icon-arrow"&gt;&lt;/span&gt;<span class="demo-highlight-color">&lt;span class="icon text-center n-error-indicator"&gt;6&lt;/span&gt;</span>&lt;/th&gt;
    &lt;th class="text-right n-sortable"&gt;With number&lt;span class="icon icon-arrow"&gt;&lt;/span&gt;&lt;/th&gt;
    &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;...&lt;tbody&gt;
    &lt;/table&gt;
</code>
            </pre>
    </div>
</div>
<script src="../assets/js/require.js"></script>
<script src="../assets/js/require-config.js"></script>
<script>
    require(['jquery', 'wulf/tables']);
</script>
</body>
</html>